Components
packages
Resource.designer.cs

bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.suo
*.user
*.cache
*.log
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
packages
*.userprefs
*.orig
Components/*/samples
Components/
ipch/
sh.exe.stackdump